target/scala-2.12/classes/example/variances/Animal.class
target/scala-2.12/classes/example/singleton/Main.class
target/scala-2.12/classes/example/singleton/Main$.class
target/scala-2.12/classes/example/singleton/Email.class
target/scala-2.12/classes/example/singleton/Email$.class
target/scala-2.12/classes/example/singleton/Circle.class
target/scala-2.12/classes/example/singleton/Circle$.class
target/scala-2.12/classes/example/regexPatterns/RegexTest.class
target/scala-2.12/classes/example/regexPatterns/RegexTest$.class
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala_sample-build-test-internal.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala_sample-build-scala-tool.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala_sample-build-runtime.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala_sample-build-runtime-internal.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala_sample-build-provided.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala_sample-build-pom.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala_sample-build-compile-internal.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/default/scala_sample-build/scala_2.12/sbt_1.0/0.1.0-SNAPSHOT/resolved.xml.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/scala_compiler.xml
.idea/sbt.xml
.idea/modules/scala_sample.iml
.idea/modules/scala_sample-build.iml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/sbt__org_scalatest_scalatest_2_12_3_0_5_jar.xml
target/scala-2.12/classes/example/variances/Dog$.class
target/scala-2.12/classes/example/variances/ContravarianceTest.class
target/scala-2.12/classes/example/variances/ContravarianceTest$delayedInit$body.class
target/scala-2.12/classes/example/variances/ContravarianceTest$.class
target/scala-2.12/classes/example/variances/Container.class
target/scala-2.12/classes/example/variances/CatPrinter.class
target/scala-2.12/classes/example/variances/Cat.class
target/scala-2.12/classes/example/variances/Cat$.class
target/scala-2.12/classes/example/StringIterator.class
target/scala-2.12/classes/example/Similarity.class
project/target/scala-2.12/sbt-1.0/resolution-cache/default/scala_sample-build/scala_2.12/sbt_1.0/0.1.0-SNAPSHOT/resolved.xml.properties
project/target/config-classes/$e293142a059775e881f5.class
project/target/config-classes/$ae5bce6effcdcb00b40f.class
project/target/config-classes/$a82dec76627f7913e390.class
project/target/config-classes/$672eb4a3e0f8fbffcae3.class
project/target/config-classes/$31ece34f0cb3498fbdaa.class
project/target/config-classes/$24e3dc123892bea4b1e7.class
target/streams/compile/unmanagedJars/$global/streams/export
target/streams/compile/unmanagedClasspath/$global/streams/export
target/streams/compile/managedClasspath/$global/streams/export
target/streams/compile/externalDependencyClasspath/$global/streams/export
target/streams/$global/updateClassifiers/$global/streams/out
target/scala-2.12/classes/example/collections/ArrayExample$.class
target/scala-2.12/classes/example/caseclass/VoiceRecording.class
target/scala-2.12/classes/example/caseclass/VoiceRecording$.class
target/scala-2.12/classes/example/caseclass/SMS.class
target/scala-2.12/classes/example/caseclass/SMS$.class
target/scala-2.12/classes/example/caseclass/NotificationTest.class
target/scala-2.12/classes/example/CurryTest.class
target/scala-2.12/classes/example/CurryTest$delayedInit$body.class
target/scala-2.12/classes/example/Comprehensions/User$.class
target/scala-2.12/classes/example/Classes.class
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala_sample-build-plugin.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala_sample-build-optional.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala_sample-build-compile.xml
target/scala-2.12/classes/example/patternMatching/MatchTest.class
target/scala-2.12/classes/example/patternMatching/MatchTest$.class
target/scala-2.12/classes/example/patternMatching/ExtractorMatchTest.class
target/scala-2.12/classes/example/patternMatching/ExtractorMatchTest$Normal$.class
target/scala-2.12/classes/example/patternMatching/ExtractorMatchTest$Emergency$.class
target/scala-2.12/classes/example/patternMatching/ExtractorMatchTest$.class
target/scala-2.12/classes/example/patternMatching/CaseClassMatchTest.class
target/scala-2.12/classes/example/patternMatching/CaseClassMatchTest$Person.class
target/scala-2.12/classes/example/patternMatching/CaseClassMatchTest$Person$.class
target/scala-2.12/classes/example/FunctionTest.class
target/scala-2.12/classes/example/FunctionTest$.class
target/scala-2.12/classes/example/Classes$.class
target/scala-2.12/classes/example/ApplyFunctionTest.class
target/scala-2.12/classes/example/ApplyFunctionTest$SomeClass.class
target/scala-2.12/classes/example/ApplyFunctionTest$.class
target/scala-2.12/classes/example/AbsIterator.class
target/.history
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-scala_sample-build-test.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject$sources-pom.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject$sources-plugin.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject$sources-optional.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject$sources-compile.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject$sources-compile-internal.xml
target/scala-2.12/resolution-cache/reports/ivy-report.xsl
target/scala-2.12/resolution-cache/reports/ivy-report.css
target/scala-2.12/classes/example/variances/Printer.class
target/scala-2.12/classes/example/variances/Dog.class
target/scala-2.12/classes/example/caseclass/Email$.class
target/scala-2.12/classes/example/TraitsTest.class
target/scala-2.12/classes/example/FunTest.class
target/scala-2.12/classes/example/FunTest$delayedInit$body.class
target/scala-2.12/classes/example/FunTest$.class
target/scala-2.12/classes/example/FilterTest.class
target/scala-2.12/classes/example/FilterTest$delayedInit$body.class
target/scala-2.12/classes/example/FilterTest$.class
target/scala-2.12/classes/example/Decorator.class
target/scala-2.12/classes/example/extractorObjects/TwiceTest$delayedInit$body.class
target/scala-2.12/classes/example/extractorObjects/TwiceTest$.class
target/scala-2.12/classes/example/extractorObjects/Twice.class
target/scala-2.12/classes/example/extractorObjects/Twice$.class
target/scala-2.12/classes/example/extractorObjects/CustomerID.class
target/scala-2.12/classes/example/extractorObjects/CustomerID$.class
target/scala-2.12/classes/example/collections/ListExample.class
target/scala-2.12/classes/example/collections/ListExample$.class
target/scala-2.12/classes/example/CurryTest$.class
target/scala-2.12/classes/example/CubeCalculator.class
target/scala-2.12/classes/example/CubeCalculator$.class
target/scala-2.12/classes/example/Comprehensions/UserTest.class
target/scala-2.12/classes/example/Comprehensions/UserTest$delayedInit$body.class
target/scala-2.12/classes/example/Comprehensions/UserTest$.class
target/scala-2.12/classes/example/Comprehensions/User.class
target/scala-2.12/classes/example/patternMatching/CaseClassMatchTest$.class
target/scala-2.12/classes/example/genericClasses/StackTest.class
target/scala-2.12/classes/example/genericClasses/StackTest$delayedInit$body.class
target/scala-2.12/classes/example/genericClasses/StackTest$.class
target/scala-2.12/classes/example/genericClasses/Stack.class
target/scala-2.12/classes/example/genericClasses/Fruit.class
target/scala-2.12/classes/example/genericClasses/Banana.class
target/scala-2.12/classes/example/genericClasses/Apple.class
target/scala-2.12/classes/example/RichIterator.class
target/scala-2.12/classes/example/Point.class
target/scala-2.12/classes/example/PartiallyAppliedFunction.class
target/scala-2.12/classes/example/PartiallyAppliedFunction$.class
target/scala-2.12/classes/example/Main.class
target/scala-2.12/classes/example/Main$delayedInit$body.class
target/scala-2.12/classes/example/Main$.class
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject_2.12-compile.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject_2.12-compile-internal.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject$sources-test.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject$sources-test-internal.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject$sources-scala-tool.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject$sources-runtime.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject$sources-runtime-internal.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject$sources-provided.xml
target/scala-2.12/classes/example/TraitsTest$delayedInit$body.class
target/scala-2.12/classes/example/TraitsTest$.class
target/scala-2.12/classes/example/TestMain.class
target/scala-2.12/classes/example/TestMain$.class
target/scala-2.12/classes/example/StringIteratorTest.class
target/scala-2.12/classes/example/StringIteratorTest$Iter$1.class
target/scala-2.12/classes/example/StringIteratorTest$.class
target/streams/$global/ivySbt/$global/streams/out
target/streams/$global/ivyConfiguration/$global/streams/out
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/output_dsp
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/input_dsp
target/streams/$global/$global/dumpStructure/$global/streams/out
target/scala-2.12/test-classes/CubeCalculatorTest.class
target/scala-2.12/resolution-cache/sbtexampleproject/sbtexampleproject_2.12/0.1/resolved.xml.xml
.idea/libraries/sbt__org_scalactic_scalactic_2_12_3_0_5_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_reflect_2_12_6_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_library_2_12_6_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_xml_2_12_1_0_6_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_parser_combinators_2_12_1_1_0_jar.xml
.idea/hydra.xml
.idea/checkstyle-idea.xml
.idea/.name
target/scala-2.12/resolution-cache/sbtexampleproject/sbtexampleproject$sources/0.1/resolved.xml.properties
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject_2.12-test.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject_2.12-test-internal.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject_2.12-scala-tool.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject_2.12-runtime.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject_2.12-runtime-internal.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject_2.12-optional.xml
target/scala-2.12/classes/example/caseclass/NotificationTest$.class
target/scala-2.12/classes/example/caseclass/Notification.class
target/scala-2.12/classes/example/caseclass/Email.class
target/streams/runtime/unmanagedJars/$global/streams/export
target/streams/runtime/unmanagedClasspath/$global/streams/export
target/streams/runtime/managedClasspath/$global/streams/export
target/streams/runtime/externalDependencyClasspath/$global/streams/export
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject_2.12-provided.xml
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject_2.12-pom.xml
target/scala-2.12/classes/example/variances/AnimalPrinter.class
target/scala-2.12/resolution-cache/sbtexampleproject/sbtexampleproject_2.12/0.1/resolved.xml.properties
target/scala-2.12/resolution-cache/sbtexampleproject/sbtexampleproject$sources/0.1/resolved.xml.xml
target/scala-2.12/classes/example/collections/ArrayExample.class
target/streams/test/unmanagedJars/$global/streams/export
target/streams/test/unmanagedClasspath/$global/streams/export
target/streams/test/managedClasspath/$global/streams/export
target/streams/test/externalDependencyClasspath/$global/streams/export
target/streams/$global/update/$global/streams/update_cache_2.12/inputs
target/streams/$global/update/$global/streams/out
target/scala-2.12/classes/example/extractorObjects/TwiceTest.class
target/scala-2.12/resolution-cache/reports/sbtexampleproject-sbtexampleproject_2.12-plugin.xml
target/streams/$global/projectDescriptors/$global/streams/out
target/streams/$global/update/$global/streams/update_cache_2.12/output
